@charset "utf-8";

// Compass Reset
@import
    'compass',
    'compass/reset';

// Compass Sprite Generator
$main-sprite-layout: smart;
$main-sprite-spacing: 5px;
$main-sprite-dimensions: true;
@import "main/*.png";

// Imports Font

// Imports Utils Itens
@import
	'http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700',
	'utils/functions',
	'utils/variables';

// Global styles
body {
	font-family: "PT Sans Caption";
	@include font-size(16);
	color: #333333;
	overflow: hidden;
}

.loading {
	background: transparent image-url("bg-red.png") repeat scroll 0 0;
	position: fixed;
	top: 0; left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;

	.wrapper {
		position: absolute;
		top: 50%; left: 50%;
		margin: -82.5px 0 0 -125px;
		width: 250px;
	}

	img {
		width: 130px;
		margin: 0 auto;
		display: block;
	}

	p {
		margin-top: 15px;
		@include font-size(20);
		text-align: center;
		color: #ffffff;
	}
}

.menu {
	position: fixed;
	top: 0; right: -320px;
	bottom: 0; z-index: 10;
	background-color: #ffffff;
	min-width: 270px;
	padding: 25px;
	@include box-shadow(0 0 50px #666666);

	.control-menu {
		@include clearfix;
		position: relative;
	}

	.button-open,
	.button-close {
		position: absolute;
		left: -92px;
		width: 42px;
		height: 30px;

		a {
			display: block;
			width: 42px;
			height: 30px;
		}

		.top {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 4px;
			background-color: #ffffff;
			@include box-shadow(0 0 5px #999999);
		}

		.middle {
			@extend .top;
			top: 50%;
			margin-top: -2px;
		}

		.bottom {
			@extend .top;
			top: auto;
			bottom: 0;
		}
	}

	.logo {
		float: right;

		a {
			display: block;
			@include main-sprite("logo-hippo");
		}
	}

	ul {
		position: absolute;
		top: 50%; right: 25px;
		margin-top: -175px;
	}

	li {
		text-align: right;
		margin-top: 35px;

		&:first-child {
			margin: 0;
		}

		&.active {
			a {
				padding-right: 10px;
				border-right: solid 10px #bd0100;
			}
		}

		a {
			padding-right: 10px;
			border-right: solid 10px #bd0100;
			@include font-size(20);
			color: #505050;
			text-transform: uppercase;
			text-decoration: none;
		}
	}

	.link-curso {
		overflow: hidden;
		position: absolute;
		bottom: 25px; left: 50%;
		margin-left: -32px;

		.ico-curso {
			@include main-sprite("logo-senac");
			margin-right: 10px;
			float: left;
		}

		a {
			font-weight: bold;
			color: #505050;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.page-home {
	overflow: hidden;

	main {
		width: 100%;
	}

	section {
		width: 100%;
	}
}

.item-1 {
	position: relative;
	background: transparent image-url('bg-home-1.jpg') center no-repeat;
	background-size: cover;

	.text-spotlight {
		position: absolute;
		top: -400px; left: -150px;
		width: 850px;
		height: 850px;

		div {
			opacity: 0.6;
			background-color: #bd0100;
			position: absolute;
			top: 0; left: 0;
			z-index: 5;
			width: 100%;
			height: 100%;
			@include border-radius(50%);
		}

		h1 {
			display: block;
			position: absolute;
			top: 50%; left: 0;
			z-index: 10;
			width: 100%;
			@include font-size(35);
			line-height: 70px;
			text-align: center;
			color: #ffffff;
		}

		strong {
			@include font-size(45);
			font-style: italic;
			font-weight: 700;
		}
	}

	.button-scroll {
		margin-left: -97.5px;
		position: absolute;
		bottom: 50px; left: 50%;
		overflow: hidden;

		.ico-arrow {
			float: left;
			margin: 15px 20px 15px 0;
			@include main-sprite("arrow-home");
		}

		a {
			display: block;
			@include font-size(30);
			color: #ffffff;
			line-height: 1;
			text-transform: uppercase;
			text-decoration: none;
			@include text-shadow(0 0 5px #666666);
		}

		span {
			@include font-size(15);
		}
	}
}

.item-2 {
	position: relative;
	background: transparent image-url('bg-home-2.jpg') center bottom no-repeat;
	background-size: cover;
	text-align: center;	

	.box-poligono {
		background: transparent image-url("poligonal-box.png") no-repeat scroll 0 0;
		width: 632px;
		height: 477px;
		position: absolute;
		bottom: 0; left: 50%;
		margin-left: -316px;
	}

	h1 {
		margin-top: 90px;
		@include font-size(30);
		color: #ffffff;
		line-height: 55px;
		text-align: center;

		strong {
			font-weight: bold;
			font-style: italic;
		}
	}

	a {
		display: inline-block;
		margin-top: 35px;
		@include font-size(25);
		color: #ffffff;
		line-height: 1.4;
		text-decoration: none;
	}

	.ico-hippo {
		float: left;
		margin-right: 10px;
		@include main-sprite("hippo-medium");
	}

	.text {
		display: inline-block;
		padding-top: 25px;
	}
}

.container {
	background: #ffffff image-url("bg-white.png") center repeat;
	overflow: auto;

	.spotlight {
		width: 100%;
		height: 350px;
		position: relative;
	}

	.overlay {
		background-color: #000000;
		position: absolute;
		top: 0; left: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
		opacity: 0.4;
	}

	.main-title {
		margin: -71px 0 0 -250px;
		position: absolute;
		top: 50%; left: 50%;
		z-index: 10;
		width: 500px;
		text-align: center;

		.logo {
			display: block;
			margin: 0 auto 15px;
			@include main-sprite("hippo-medium");
		}

		h1 {
			display: inline-block;
			padding-bottom: 15px;
			border-bottom: solid 2px #ffffff;
			@include font-size(25);
			font-weight: bold;
			font-style: italic;
			line-height: 1.4;
			color: #ffffff;
		}
	}

	.content {
		padding: 25px;

		h1 {
			margin-bottom: 30px;
			@include font-size(35);
			font-weight: bold;
			font-style: italic;
			color: #d82e2e;
		}

		h2 {
			margin-top: 20px;
			@include font-size(25);
			color: #d82e2e;
		}

		p, li {
			margin-top: 15px;
			@include font-size(20);
			color: #333333;
			line-height: 30px;
		}

		strong {
			font-weight: bold;
			color: #d82e2e;
		}

		ul {
			margin-left: 40px;
			list-style-type: disc;
		}
	}
}

.page-empresa {
	.spotlight {
		background: #ffffff image-url("banner-empresa.png") center no-repeat;
		background-size: cover;
	}
}

.page-integrantes {
	background: #bd0100 image-url("bg-red.png") center repeat;

	.spotlight {
		background: #ffffff image-url("banner-integrantes.jpg") center no-repeat;
		background-size: cover;
	}

	.member {
		float: left;
		width: 30%;
		margin-left: 5%;
		text-align: center;

		&:first-child {
			margin: 0;
		}

		ul {
			margin: 0;
			list-style: none;
		}

		.photo {
			width: 185px;
			height: 185px;
			margin: 0 auto 40px;
			background: transparent image-url("mark-photo.png") 0 no-repeat;
			background-size: cover;

			&.um {
				background: transparent image-url("member-1.png") 0 no-repeat;
			}

			&.dois {
				background: transparent image-url("member-2.png") 0 no-repeat;
			}

			&.tres {
				background: transparent image-url("member-3.png") 0 no-repeat;
			}
		}

		li {
			@include font-size(25);
			color: #ffffff;
			line-height: 30px;
		}
	}
}

.page-projeto {
	.spotlight {
		background: #ffffff image-url("banner-projeto.jpg") center no-repeat;
		background-size: cover;
	}
}

.page-outros {
	.content {
		background: #ffffff image-url("banner-outros.jpg") center no-repeat;
		background-size: cover;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
	}

	.overlay {
		background-color: #000000;
		opacity: 0.4;
		position: absolute;
		top: 0; left: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
	}

	.spotlight {
		position: absolute;
		top: 50%; left: 50%;
		z-index: 10;
		margin: -138px 0 0 -225px;
		width: 450px;
		text-align: center;
	}

	.logo {
		display: block;
		margin: 0 auto 30px;
		@include main-sprite("hippo-medium");
	}

	h1 {
		display: inline-block;
		padding-bottom: 15px;
		border-bottom: solid 2px #ffffff;
		@include font-size(35);
		font-weight: bold;
		font-style: italic;
		line-height: 1.4;
		color: #ffffff;
	}

	.view-more {
		overflow: hidden;
		margin-top: 35px;
	}

	p {
		&:first-of-type {
			float: left;
			padding: 0 50px;
		}

		padding: 10px 50px 0 0;
		float: right;
		@include font-size(20);
		line-height: 1.4;
		color: #ffffff;

		a {
			margin: 0 15px;
			padding-left: 5px;
			border-left: solid 10px #bd0100;
			text-decoration: none;
			color: #ffffff;
		}
	}
}

.page-semestre {

	.spotlight {
		background: #ffffff image-url("banner-semestre.jpg") center no-repeat;
		background-size: cover;
	}
}

.page-qrcode {
	.spotlight {
		background: #ffffff image-url("bg-qrcode.jpg") center no-repeat;
		background-size: cover;
	}
}