nav.menu
  div.control-menu
    div.button-open
      a(href="#", title="Menu")
        div.top
        div.middle
        div.bottom

    div.logo
      a(href="#{baseurl}", title="HIPPO Supermercados")

  ul
    li.active
      a(href="/#", title="Home")
        | Home
    li
      a(href="/empresa.html", title="Empresa")
        | Empresa
    li
      a(href="/integrantes.html", title="Integrantes")
        | Integrantes
    li
      a(href="/projeto.html", title="Projeto Integrador")
        | Projeto Integrador
    li
      a(href="/outros-grupos.html", title="Outros Grupos")
        | Outros Grupos
    li
      a(href="/semestres.html", title="Semestres")
        | Semestres
    li
      a(href="/qrcode.html", title="QR Code")
        | QR Code

  div.link-curso
    a(href="http://www.sp.senac.br/jsp/default.jsp?newsID=DYNAMIC,oracle.br.dataservers.CourseDataServer,selectCourse&course=10600&template=409.dwt&unit=NONE&testeira=722&type=G&sub=0", title="Tecnologia em Sistemas para Internet", target="_blank")
      span.ico-curso
      | TSI