/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../source/sass/main.scss */
body {
  margin: 20px;
  background: #333333 url('../assets/img/bg.jpg?1430514977') repeat scroll 0 0;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #ffffff;
}

/* line 28, ../source/sass/main.scss */
.container {
  width: 990px;
  margin: 0 auto;
}
/* line 32, ../source/sass/main.scss */
.container h1 {
  margin-bottom: 15px;
  font-family: Impact;
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
}
/* line 39, ../source/sass/main.scss */
.container h2 {
  margin: 40px 0 15px;
  font-family: Impact;
  font-size: 25px;
  font-size: 1.5625rem;
  text-align: center;
}

/* line 47, ../source/sass/main.scss */
.rolagem-dados {
  overflow: hidden;
}
/* line 50, ../source/sass/main.scss */
.rolagem-dados > fieldset {
  margin: 15px 0;
}

/* line 55, ../source/sass/main.scss */
.grid-two-blocks {
  overflow: hidden;
}
/* line 58, ../source/sass/main.scss */
.grid-two-blocks > * {
  width: 47%;
  float: right;
}
/* line 62, ../source/sass/main.scss */
.grid-two-blocks > *:first-child {
  float: left;
}
/* line 67, ../source/sass/main.scss */
.grid-two-blocks input[type="text"] {
  width: 44.8%;
}

/* line 73, ../source/sass/main.scss */
.grid-three-blocks > * {
  float: left;
  width: 30%;
  margin-left: 23px;
}
/* line 78, ../source/sass/main.scss */
.grid-three-blocks > *:first-child {
  margin: 0;
}
/* line 83, ../source/sass/main.scss */
.grid-three-blocks input {
  width: 30%;
}

/* line 88, ../source/sass/main.scss */
.cp-input-black {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.04);
  outline: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 1px rgba(0, 0, 0, 0.04);
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* line 106, ../source/sass/main.scss */
.cp-input-black:focus {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.08), 0 1px 5px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
/* line 112, ../source/sass/main.scss */
.cp-input-black option {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: #333333;
}

/* line 118, ../source/sass/main.scss */
.cp-btn-red {
  padding: 8px 16px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
  color: #3d0800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  cursor: pointer;
  background-color: #b52e19;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.2));
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.16), 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}
/* line 119, ../source/sass/main.scss */
.cp-btn-red.error {
  display: none;
}
/* line 144, ../source/sass/main.scss */
.cp-btn-red:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.4);
}
/* line 148, ../source/sass/main.scss */
.cp-btn-red:active {
  box-shadow: inset 0 0 1px black, 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* line 159, ../source/sass/main.scss */
.lista-resultados {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 -1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
}
/* line 166, ../source/sass/main.scss */
.lista-resultados li {
  width: 46.75%;
  padding: 10px 15px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.014), rgba(0, 0, 0, 0.02));
}
/* line 177, ../source/sass/main.scss */
.lista-resultados p {
  color: #999999;
  line-height: 1.4;
  text-shadow: 0 1px 0 #000;
}
/* line 183, ../source/sass/main.scss */
.lista-resultados strong {
  font-weight: bold;
}
/* line 187, ../source/sass/main.scss */
.lista-resultados em {
  font-style: italic;
}

/* line 192, ../source/sass/main.scss */
.cp-font-blue {
  color: #295eb3;
}

/* line 196, ../source/sass/main.scss */
.cp-font-red {
  color: #b52e19;
}

/* line 200, ../source/sass/main.scss */
.cp-font-white {
  color: #ffffff;
}
