<nav class="ptf-drawer">
    <ul class="ptf-drawer__container">
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Início
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Sobre o Portifólio
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Trabalhos
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Serviços
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Sobre mim
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Conhecimentos
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Depoimentos
            </a>
        </li>
        <li class="ptf-drawer__item">
            <a href="/"
               class="ptf-drawer__item__link">
                Contato
            </a>
        </li>
    </ul>
</nav>
