doctype
html

  head
    include ./includes/head.jade

  body.page-integrantes.container
    include ./includes/callback.jade

    main

      include ./includes/sidebar.jade

      header.spotlight
        div.overlay
        div.main-title
          span.logo
          h1 A Iniciativa<br>
            | HIPPO

      section.content
        article.member
          div.photo.um
          ul
            li William<br>
             | Magalhães Rodrigues
            li Front-End Developer
            li 21 anos

        article.member
          div.photo.dois
          ul
            li Ruhan<br>
             | Pereira Correia
            li Technology Teacher
            li 26 anos

        article.member
          div.photo.tres
          ul
            li Helder<br>
             | Lopes
            li .NET Developer
            li XX anos

    script(src='js/lib/zepto.min.js')
    script(src='js/lib/TweenMax.min.js')
    script(src='js/application/main.js')