doctype
html

  head
    include ./includes/head.jade

  body.page-outros.full-screen
    include ./includes/callback.jade

    main

      include ./includes/sidebar.jade

      section.content
        div.overlay
        div.spotlight
          span.logo
          h1
            | Conheça os outros<br>
            | integrantes da iniciativa<br>
            | HIPPO
          div.view-more
            p
              | Veja<br>mais
            p
              a(href="#", title="Conheça outros colaboradores") aqui 
              |  ou 
              a(href="#", title="Conheça outros colaboradores") aqui 

    script(src='js/lib/zepto.min.js')
    script(src='js/lib/TweenMax.min.js')
    script(src='js/application/main.js')