doctype
html

  head
    include ./includes/head.jade

  body.page-qrcode.container
    include ./includes/callback.jade

    main

      include ./includes/sidebar.jade

      header.spotlight
        div.overlay
        div.main-title
          span.logo
          h1 Modo de compra<br>
            | com QR Code

      section.content
        h1 Como Funciona

        p O QR Code é basicamente um novo código de barras em 2D (o antigo código trabalha com apenas uma dimensão, a horizontal, e o QR Code utiliza códigos com informações tanto no plano horizontal como na vertical).

        p O código foi criado pela empresa japonesa Denso-Wave, em 1994, e foi desenvolvido inicialmente para a indústria de automóveis japonesa, para ajudar a catalogar as peças dos carros na linha de produção. Em 2003, a linguagem começou a ser aplicada em celulares, já que até as câmeras da tecnologia VGA, de baixa qualidade (presente em muitos aparelhos) são capazes de ler e interpretar a imagem.

        p O QR Code já é muito utilizado no mercado publicitário, e várias ações trabalham, inclusive, com realidade aumentada. As empresas investem nesse tipo de campanha para oferecer mais informações e conteúdo exclusivo.

    script(src='js/lib/zepto.min.js')
    script(src='js/lib/TweenMax.min.js')
    script(src='js/application/main.js')