<header
    class="ptf-header">
    <div class="ptf-header__container">
        <h1 class="ptf-header__title">
            <span class="ptf-header__title__hashtag">#</span>
            <span class="ptf-header__title__ido">euamo</span>
            <span class="ptf-header__title__whatido">frontend</span>
        </h1>
        <h2 class="ptf-header__subtitle">
            Desenvolvedor Front End Sênior de São Paulo - BR
        </h2>
        <a href=""
           class="ptf-header__cta">
            Navegar
        </a>
    </div>
</header>
