<header>
    <nav class="ptf-nav">
        <ul class="ptf-nav__state">
            <li class="ptf-nav__state__close">
                <a href="#"
                   class="ptf-nav__state__close__link">
                    <div class="ptf-nav__state__close__line"></div>
                    <div class="ptf-nav__state__close__line"></div>
                </a>
            </li>
            <li clas="ptf-nav__state__lang-switcher">
                <ul class="ptf-nav__state__lang-switcher__container">
                    <li class="ptf-nav__state__lang-switcher__item">
                        <a href="#"
                           class="ptf-nav__state__lang-switcher__link">
                            pt
                        </a>
                    </li>
                    <li class="ptf-nav__state__lang-switcher__item">
                        <a href="#"
                           class="ptf-nav__state__lang-switcher__link">
                            en
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="ptf-nav__container">
            <li class="ptf-nav__menu-cta">
                <a href="#"
                   class="ptf-nav__menu-cta__icon">
                    <div
                        class="ptf-nav__menu-cta__icon__line ptf-nav__menu-cta__icon__line--tp">
                    </div>
                    <div
                        class="ptf-nav__menu-cta__icon__line ptf-nav__menu-cta__icon__line--md">
                    </div>
                    <div
                        class="ptf-nav__menu-cta__icon__line ptf-nav__menu-cta__icon__line--bt">
                    </div>
                </a>
            </li>
            <li class="ptf-nav__logo">
                <a href="/"
                   class="ptf-nav__logo__link">
                    <img src="/assets/images/logo.svg"
                         class="ptf-nav__logo__image"
                         alt="">
                </a>
            </li>
            <li class="ptf-nav__lang-switcher">
                <ul class="ptf-nav__lang-switcher__container">
                    <li class="ptf-nav__lang-switcher__item">
                        <a href="#"
                           class="ptf-nav__lang-switcher__item__link">
                            pt
                        </a>
                    </li>
                    <li class="ptf-nav__lang-switcher__item">
                        <a href="#"
                           class="ptf-nav__lang-switcher__item__link">
                            en
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
